.error-field {
  border: 1px solid red !important;
  /* Borde rojo */
}

.error-message {
  color: red !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

.warning-field {
  border: 1px solid #f4a230 !important;
  /* Borde rojo */
}

.warning-message {
  color: #f4a230 !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

.success-field {
  border: 1px solid #1ccb27 !important;
  /* Borde rojo */
}

.success-message {
  color: #1ccb27 !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

.navi>.main-menu>li>a,
.account-loggedin,
.login-register a {
  color: white !important;
}

a:hover:not(.active) {
  cursor: pointer !important;
}