.error-field {
  border: 1px solid red !important;
  /* Borde rojo */
}

.error-message {
  color: red !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

.warning-field {
  border: 1px solid #f4a230 !important;
  /* Borde rojo */
}

.warning-message {
  color: #f4a230 !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

.success-field {
  border: 1px solid #1ccb27 !important;
  /* Borde rojo */
}

.success-message {
  color: #1ccb27 !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}

a:hover:not(.active) {
  cursor: pointer !important;
}

.overlay_error,.overlay_success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9990;
}

.modal_error,.modal_success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 9999;
  max-width: 400px;
  text-align: center;
}

.modal_error h4 ,.modal_success h4 {
  font-weight: 700;
  font-family: sans-serif;
  font-size: x-large;
  padding-top: 14px;
}

.modal_error #errorMessage,.modal_success #successMessage {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
}

.error_close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 4rem;
  transform: rotate(10deg);
  color: #5e5e5e;
}

.error-icon {
  font-size: 40px !important;
  color: #ec3232;
  margin-bottom: 14px;
}

.success-icon {
  font-size: 40px !important;
  color: #ec3232;
  margin-bottom: 14px;
}